aside.menu-area {
    background-color: #2a2a7a;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.9);
}

nav.menu a {
    display: block;
    text-decoration: none;
    color:aliceblue;
    font-weight: 300;
    padding: 15px;

    transition: filter 0.2s;
}

nav.menu a:hover {
    filter: brightness(0.8);
}

@media(min-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
    }
}
